<h4 class="user_show_header">Name</h4>
<h4 class="user_show_header"><%= @user.name %></h4>
<br />

<h4 class="user_show_header">Created on:</h4>
<h4 class="user_show_header"><%= @user.created_at %></h4>
<br />

<h4 class="user_show_header"><a href='/users/<%= @user.id %>/posts'>Submissions</a></h4>
<h4 class="user_show_header"><a href='#'>Comments</a></h4>
